@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root {
    /* --text-color: white; */
    --nav-height: 4em;
    --color-teal: hsl(199, 66%, 66%);
    --color-teal-alpha: hsla(199, 66%, 66%, 0.9);
    --color-green1: hsl(97, 48%, 52%);
    --nav-border: 2px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

body {
    color: var(--text-color);
}

a:link,
a:visited {
    color: white;
}